.dropdown {
    position: relative;
}

h4 {
    cursor: pointer;
}

.drop-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.drop-item {
    display: block;
    text-decoration: none;
}

.drop-item:hover {
    background-color: #ddd;
}